:root {
    --main-color: #01161e;
    --support-color-1: #124559;
    --support-color-2: #598392;
    --support-color-3: #aec3b0;
    --support-color-4: #79a27d;
    --text-color-1: #01161e;
    --text-color-2: #bbc2ac;
  }


*{
    margin: 0;
    padding: 0;
}
body,html{
    background: radial-gradient(#bbc2ac,#afbcc1);
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



@media only screen and (max-width: 600px) {
    .logo-navbar{
        width: 100px;
    }
    .input-search{
        width: 80px;
    } 
    .grid{
        max-width: 60rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .logo-navbar{
        font-size: 20px !important;
    }
}

.container-posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

*::-webkit-scrollbar {
    width: 10px;
  }
*::-webkit-scrollbar-track {
    background-color: var(--support-color-1); 
    border-radius: 4px;
   

}

*::-webkit-scrollbar-thumb {
    background-color: #dee2d6; 
    border-radius: 4px;

}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-2); 
}

.footer-text{
    font-size: 11px;
}